* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
    /*background-color: #D1CCB8*/
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}

#loading-spinner {
    min-height: 400px;
}

#loading-spinner .center-align {
    margin-left: auto;
    margin-right: auto;
}

#data-screen .tabs .indicator {
    background-color: #3e2723;
}

.top-nav {
    position: fixed;
    top: -1px;
    left: 50%;
    width: 550px;
    margin-left: -225px;
}

.background-map {
    background-color: rgba(209, 198, 180, 0.8);
    border: 1px solid black;
    border-radius: 0;
}
#cursor-gps {
    display: inline-block;
    margin-left: 30px;
}

#cursor-gps strong {
    margin-right: 15px;
}

.cursor-pos {
    min-width: 50px;
    display: inline-block;
    text-align: center;
}

#progress-bar-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
}

#progress-bar-load .progress {
    width: 500px;
    margin: 25% auto auto;
}

#port-information {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 230px;
}

#port-information .panel-body {
    width: 100%;
}

#how-to-use {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}

.background-map .panel-heading {
    background-color: rgba(245, 234, 216, 0.8);
    border-bottom: 1px solid black;
}

.top-nav input.form-control {
    max-width: 60px !important;
}

#gpsForm {
    display: inline-block;
}

#port-information .list-group-item {
    position: relative;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    background-color: inherit;
    border: 1px solid #000;
    border-radius: 0 !important;
}