* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
    /*background-color: #D1CCB8*/
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}

#loading-spinner {
    min-height: 400px;
}

#loading-spinner .center-align {
    margin-left: auto;
    margin-right: auto;
}

#data-screen .tabs .indicator {
    background-color: #3e2723;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
}

.background-map {
    background-color: rgba(209, 198, 180, 0.8);
    border: 1px solid black;
    border-radius: 0;
}

.top-nav span {
    margin: 10px 20px 10px 20px;
}

#progress-bar-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
}

#progress-bar-load .progress {
    width: 500px;
    margin: 25% auto auto;
}

#port-information {
    position: fixed;
    top: 150px;
    left: 0;
    min-width: 200px;
}

#how-to-use {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}

.background-map .panel-heading {
    background-color: rgba(245, 234, 216, 0.8);
    border-bottom: 1px solid black;
}